.header {
  height: 60px;
  box-shadow: 0 1px 5px rgba(138, 137, 137, 0.15);
  display: flex;
  align-items: center;
  padding: 0 10%;
  width: 100%;
  justify-content: space-between;
  background: $backgroundColor;

  .left {
    height: 100%;
    display: flex;

    .logo {
      user-select: none;
      height: 100%;
      margin-right: 20px;
    }
  }

  .right {
    height: 100%;
    display: flex;
    align-items: center;

    .themeSwitching {
      margin: 0 25px;
    }

    .ant-switch-checked, .ant-switch {
      background: $subBackgroundColor;
    }

  }
}

