.graphicCard {
  display: inline-flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: space-between;

  .graphicCard-imageArea {
    border-radius: 10px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(121, 121, 121, 0.3);
    width: 100%;
    height: 100%;
    flex: 1;

    &:hover {
      img {
        transform: scale(1.2);
      }
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 10px;
      transition: .5s ease-out;
    }

    .graphicCard-playVolume {
      position: absolute;
      right: 5px;
      top: 5px;
      display: flex;
      align-items: center;
      color: white;
      border-radius: 10px;
      padding: 0 5px;
      font-size: 12px;
      background: rgba(0, 0, 0, .5);
    }

    &:hover .graphicCard-playBtn {
      opacity: 1;
    }

    .graphicCard-playBtn {
      position: absolute;
      right: 10px;
      bottom: 10px;
      color: $subTheme;
      opacity: 0;
      width: 30px;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      transition: .5s ease-out;
      background: white;

      i {
        font-size: 14px;
        margin-left: 2px;
      }
    }
  }

  .graphicCard-title {
    font-size: 14px;
    padding-top: 5px;
    height: 50px;
    color: $subTextColor;
    transition: .5s ease-out;
    cursor: pointer;
    margin: 0;

    &:hover {
      color: $textColor;
    }
  }
}