.user {
  position: relative;
  display: flex;
  align-items: center;
  margin: 0 30px;
  z-index: 1000;

  .ant-avatar {
    cursor: pointer;
    transition: .5s ease-in-out;
    position: relative;
    z-index: 1;
  }

  .user-nickname {
    margin-left: 10px;
    font-weight: 1000;
    color: $textColor;
    cursor: pointer;
    transition: .5s ease-in-out;
    position: relative;
    z-index: 1;

    &:hover {
      color: $theme;
    }
  }

  .user-no-login {
    position: absolute;
    left: 50%;
    margin-left: -150px;
    top: 45px;
    width: 300px;
    height: 170px;
    background: $backgroundColor;
    box-shadow: 0 2px 6px rgba(128, 128, 128, 0.15);
    padding: 10px;


    .title {
      text-align: center;
      color: $theme;
    }

    .user-info-intro {
      width: 100%;
      display: flex;
      justify-content: space-between;

      .item {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: $textColor;

        i {
          color: $theme;
          font-size: 20px;
        }
      }
    }

    .user-info-action {
      display: flex;
      justify-content: space-around;
      margin-top: 20px;

      button {
        border-radius: 100px;
        border-color: transparent;

        &:hover {
          border-color: transparent;
        }
      }

      button:first-child {
        background-color: $theme;
        color: white;
      }

      button:last-child {
        background-color: $subTheme;
        color: white;
      }
    }
  }

  .dropDownMenu {
    position: absolute;
    left: 50%;
    width: 100px;
    margin-left: -50px;
    bottom: -100px;
    background-color: $backgroundColor;
    box-shadow: $shadow;
    z-index: 100;
    border-radius: 5px;
    overflow: hidden;
    display: none;

    li {
      text-align: center;
      line-height: 45px;
      cursor: pointer;
      color: $textColor;

      &:hover {
        background-color: $subBackgroundColor;
      }
    }

    &.fadeIn {
      display: block;
      animation: fadeIn .2s ease-in;
      transform-origin: top;
    }
  }
}
