.slider-container {
  padding: 2em 0;

  .slider-box {
    width: 100%;
    position: relative;

    .slider-content {
      width: 100%;
      overflow: hidden;
      position: relative;

      .slider {
        top: 0;
        position: absolute;
        border-radius: 15px;
        transition: .5s ease-out;
        z-index: 10;
        left: 50%;
        transform: translateX(-50%) scale(.8);
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
          cursor: pointer;
        }

        &.active {
          transform: translateX(-50%) scale(1);
          z-index: 12;
        }
      }
    }

    .icon-previous, .icon-next {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: 25;
      background: rgba(0, 0, 0, .5);
      border-radius: 50%;
      display: inline-block;
      width: 50px;
      height: 50px;
      text-align: center;
      line-height: 50px;
      cursor: pointer;
      transition: .3s;

      &:hover {
        background: rgba(0, 0, 0, .7);
      }

      i {
        font-size: 30px;
        color: white;
      }
    }

    .icon-previous {
      left: 10px;
    }

    .icon-next {
      right: 10px;
    }
  }

  .indicator {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px;

    i {
      background: #e6e6e6;
      width: 15px;
      height: 15px;
      border-radius: 100%;
      transition: .3s;
      cursor: pointer;

      &.active {
        background: $theme;
        width: 30px;
        border-radius: 50px;
      }
    }
  }
}

@media screen and (min-width: $screen-w) {
  .slider-container {
    width: $w-n;
    height: 480px;

    .slider-content {
      height: 400px;

      .slider {
        width: 1080px;
        height: 100%;

        &.previous {
          transform-origin: left;
          transform: translateX(-700px) scale(.85);
          z-index: 11;
        }

        &.next {
          transform: translateX(-300px) scale(.85);
          z-index: 11;
        }
      }
    }
  }
}

@media screen and (max-width: $screen-w) {
  .slider-container {
    width: $w-s;
    height: 442px;

    .slider-content {
      height: 362px;

      .slider {
        width: 980px;
        height: 100%;

        &.previous {
          transform-origin: left;
          transform: translateX(-625px) scale(.85);
          z-index: 11;
        }

        &.next {
          transform: translateX(-280px) scale(.85);
          z-index: 11;
        }
      }
    }
  }
}