$theme: #EC4141;
$subTheme: #5b4dd9;

// 字体颜色
$textColor: var(--textColor, #333333);
// 副字体颜色
$subTextColor: var(--subTextColor, #606770);
// 背景颜色
$backgroundColor: var(--backgroundColor, white);
// 透明背景
$transparentBackground: var(--transparentBackground, rgba(255, 255, 255, .8));
// 副背景颜色
$subBackgroundColor: var(--subBackgroundColor, #f2f2f2);
// 滚动条颜色
$scrollColor: var(--scrollColor, rgba(0, 0, 0, 0.5));
// 透明
$transparent: var(--transparent, rgba(0, 0, 0, 0.1));
// 阴影
$shadow: 0 0 5px rgba(128, 128, 128, 0.2);
// 圆角
$radius: 10px;
// 正常宽
$w-n: 1400px;
// 小一号宽
$w-s: 1250px;


