.navBar {
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;

  a {
    margin: 0 20px;
    color: $textColor;
    font-size: 17px;
    overflow: hidden;
    text-align: center;
    white-space: nowrap;

    &:hover {
      color: $theme;
    }

    &.active {
      color: $theme;
    }
  }
}